.Home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Home-header {
  text-align: center;
  background-color: #222;
  padding: 10px 20px;
  color: white;
  height: 120px;
}

.Home-main {
  flex: 1;
}

.Movie-description p {
  margin: 0;
}

.Movie-description h3 {
  margin: 0 0 10px 0;
}

.Movie-cell {
  transition: all .25s;
  border: 1px solid #CCC;
}
.Movie-cell:hover {
  transform: scale(1.02);
}
.Movie-cell:hover .Movie-description {
  background-color: #FFF;
}

.Movie-description {
  background-color: #EEE;
  color: #222;
}

.Movie-row {
  transition: all .25s;
  background-color: #EEE;
  border-bottom: 1px solid #DDD;
}

.Movie-row:hover {
  background-color: #FFF;
}

@media (prefers-color-scheme: dark) {
  .Movie-cell {
    border: 1px solid #555;
  }
  .Movie-cell:hover .Movie-description {
    background-color: #111;
  }

  .Movie-cell .Movie-description {
    background-color: #222;
    color: #FFF;
  }

  .Movie-row {
    background-color: #333;
    border-bottom: 1px solid #222;
  }
  .Movie-row:hover {
    background-color: #222;
    color: #FFF;
  }
  .Movie-row .Movie-description {
    background-color: transparent;
    color: #EEE;
  }
}
